// COMMON STYLES

* {
	box-sizing: border-box;
}

.cf::after {
	content: '';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

body {
	margin: 0;
	font-family: 'OpenSans', sans-serif;
	font-weight: $weight-norm;
	border-top: 3px solid $orange;
}
